/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}

body {
    line-height: 1;
    background-color: #a39bd2;
    min-height: 70vh;
    padding: 1rem;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    color: hsl(198, 1%, 29%);
    font-family: 'Gochi Hand', cursive;
    text-align: center;
    font-size: 130%;
}

ol,
ul {
    list-style: none;
}

blockquote,
q {
    quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}


img {
    width: 100% !important;
}

.container {
    max-width: 1000px;
    margin: 0 auto;
    width: 100%;
    height: auto;
    min-height: 500px;
    /* max-width: 500px; */
    min-width: 250px;
    background: #f1f5f8;
    background-image: radial-gradient(#bfc0c1 7.2%, transparent 0);
    background-size: 25px 25px;
    border-radius: 20px;
    box-shadow: 4px 3px 7px 2px #00000040;
    padding: 1rem;
    box-sizing: border-box;
}

.header2 {
    padding: 30px;
    text-align: center;
    width: 70%;
}

.todo-one1 {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 1rem;
}

.todo-one1 img {
    width: 50%;
}

.todo-one1 h1 {
    transform: rotate(2deg);
    padding: 0.2rem 1.2rem;
    border-radius: 20% 5% 20% 5%/5% 20% 25% 20%;
    background-color: hsla(166, 100%, 50%, 0.7);
    font-size: 1.5rem;
}

.todo-one h2 {
    display: block;
    margin-bottom: 0.5rem;
}

.todo-one2 input {
    box-sizing: border-box;
    background-color: transparent;
    padding: 0.7rem;
    border-bottom-right-radius: 15px 3px;
    border-bottom-left-radius: 3px 15px;
    border: solid 3px transparent;
    border-bottom: dashed 3px #ea95e0;
    font-family: 'Gochi Hand', cursive;
    font-size: 1rem;
    color: hsla(260, 2%, 25%, 0.7);
    width: 70%;
    margin-bottom: 20px;
}

.todo-one2 input:focus {
    outline: none;
    border: solid 3px #ea95e0;

}

.todo-one2 button {
    padding: 0;
    border: none;
    transform: rotate(4deg);
    transform-origin: center;
    font-family: 'Gochi Hand', cursive;
    text-decoration: none;
    padding-bottom: 3px;
    border-radius: 5px;
    box-shadow: 0 2px 0 hsl(198, 1%, 29%);
    transition: all 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275);
    width: 15%;
    background-color: palevioletred;
    height: 40px;

}

.todo-one2 button span {
    transform: translateY(4px);
    padding-bottom: 0px;
    outline: 0;
}

.todo-one2 button:focus {
    transform: translateY(4px);
    padding-bottom: 0px;
    outline: 0;
}

.toDoList {
    text-align: left;

}

.todo-two ul li{
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-bottom: 10px;
}

.todo-two ul li span{
    width: calc(70% - 10px);
    padding: 5px 0 5px 0;
}

.todo-two ul li button{
    width: calc(20% - 5px);
    margin-left: 10px;
    padding: 5px 0 5px 0;
    font-size: 20px;
    border: none;
    background: none;
}



